/* frontend/src/App.css */
@import "tailwindcss";

@layer base {
  body {
     min-height: 100vh;
     background-color: #f8fafc;
     color: #0f172a;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
  }
}